<div layout="row"  flex>
    <md-sidenav md-component-id="left" class="side-nav" md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left"
                class="md-whiteframe-4dp" >
        <md-toolbar class="tool-bar-color">
            <md-button class="button-with-icon-fix button-with-icon-fix-left" ng-click="model.clickEvent('back','')"
                       aria-label="website list">
                <i class="icon ics ion-ios-arrow-back "></i>
            </md-button>
            <h1>Website</h1>
            <md-button class="ics-right button-with-icon-fix"  ng-click="model.clickEvent('add',model.newWebsite)"
                       aria-label="confirm new website">
                <i class = "icon ion-plus ics"></i>
            </md-button>
        </md-toolbar>
            <md-list>
                <md-list-item ng-repeat="website in model.userWebsites">
                    <p>
                        <md-button class="transform-text" ng-click="model.clickEvent('open',website)">
                            {{website.name}}
                        </md-button>
                    </p>
                    <md-button ng-click="model.clickEvent('settings',website)" aria-label="site settings">
                        <i class="icon ion-gear-a ics ics-right"></i>
                    </md-button>
                </md-list-item>
            </md-list>
        </md-list>
    </md-sidenav>
    <div layout="column" flex>
        <md-toolbar class="tool-bar-color">
            <md-button class="button-with-icon-fix button-with-icon-fix-left" ng-click="model.clickEvent('back','')"
                       aria-label="back to website list" hide-gt-sm>
                <i class="icon ics ion-ios-arrow-back "></i>
            </md-button>
            <h1> New Website</h1>
            <md-button class="ics-right button-with-icon-fix" aria-label="xyz"
                       ng-click="model.clickEvent('new',model.newWebsite)">
                <i class = "icon ion-checkmark ics"></i>
            </md-button>
        </md-toolbar>
        <md-content id="content" flex>
            <div class="large-box padd-div-content" layout-gt-xs="column" layout-xs="column" >
                <md-input-container>
                    <label>Name</label>
                    <input type="text" ng-model="model.newWebsite.name" class="font-size-adjust">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Biography</label>
                    <textarea rows="5" ng-model="model.newWebsite.biography" class="font-size-adjust"></textarea>
                </md-input-container>
            </div>
        </md-content>
    </div>
</div>
<md-toolbar   class="tool-bar-color bottom-bar " >
    <md-button class="ics-right button-with-icon-fix" ng-click="model.clickEvent('profile','')"
               aria-label="go to profile page">
        <i class = "icon  ics ion-android-person"></i>
    </md-button>
</md-toolbar>
