*{
    padding: 0;
}
body {
    min-height:100%;
    background-color: #263238;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
}
h1 {
    display: inline-block;
    font-size: 100%;
    font-weight: 400;
}
p {
    font-size: 70%;
    font-weight: 400;
}
a{
    text-decoration: none;
}
.align-left{
    text-align: left;
}

md-input-container label{
    font-size: 70%;
}
md-content {
    padding: 0px !important;
    background-color: #263238!important;

}
.ics {
    /*ics - icon specific styling*/
    display: inline-block;
    width: 20px;
    text-align: left;
    color:#fff;
    font-size: 120%;
    line-height: 160%;
    vertical-align: middle;
    margin-top: -4px;
}
.ics-right{
    float: right;
    margin-top:5px;
    vertical-align:middle!important;
    margin-right:15px!important;
}
.ics-left{
    float: left;
}
.line {
    display: inline-block;
    width: 50%;
    border-top: 1px solid #ffffff;
    margin: 0 auto;
}
.font-size-adjust{
    font-size: 75%;
}
/****************
Custom tool bar
****************/
.tool-bar-color{
    background-color: #009292 !important;
    box-shadow: 0 1px 6px rgba(0,0,0,.3)!important;
    display: inline-block;
    height: 10px !important;
    padding-left: 10px!important;
    padding-right: 0px!important;
    color:#fff;
}
.bottom-bar{
    bottom: 0!important;
}

/****************
Sign Up Box
Login Screen to center
the box
****************/
.center-box{
    top:-10%;
    text-align: center;
    width: 70%;
    margin: auto;
}
md-button {
    width: 80%;
}
.transform-text{
    text-transform: capitalize!important;
    text-align: left;
}

/****************
Profile.html
****************/
.large-box {
    min-height: calc(100vh - 20px);
    margin: auto;
    padding: 10px;
}
/*.large-box-more-padding{*/
    /*padding: 5%;*/
/*}*/

/****************
Side nav
****************/
.side-nav{
    background-color: rgba(20, 57, 79, 0.35) !important;
    color:#fff !important;

}