*{
    padding: 0;
}
body {
    min-height:100%;
    background-color: #263238;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
}
h1 {
    font-size: 100%;
    font-weight: 400;
}
p {
    font-size: 70%;
    font-weight: 400;
}
.align-left{
    text-align: left;
}

md-input-container label{
    font-size: 70%;
}
/****************
Sign Up Box
Login Screen
****************/
.signup-box{
    box-shadow: 0 1px 6px rgba(0,0,0,.3);
    top:-10%;
    text-align: center;
    margin: auto;
}
md-button {
    width: 100%;
}