<div layout="row"  flex>
    <md-sidenav md-component-id="left" class="side-nav" md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left"
                class="md-whiteframe-4dp" >
        <md-toolbar class="tool-bar-color">
            <md-button class="button-with-icon-fix button-with-icon-fix-left" aria-label="back to website list"
                       ng-click="model.clickEvent('back','')">
                <i class="icon ics ion-ios-arrow-back "></i>
            </md-button>
            <h1>Pages</h1>
            <md-button class="ics-right button-with-icon-fix" aria-label="add new site"
                       ng-click="model.clickEvent('new','')">
                <i class = "icon ion-plus ics"></i>
            </md-button>
        </md-toolbar>
        <md-list>
            <md-list-item ng-repeat="post in model.websitePages">
                <p>
                    <md-button class="transform-text" ng-click="model.clickEvent('open',post)">
                        {{post.name}}
                    </md-button>
                </p>
                <md-button aria-label="site settings" ng-click="model.clickEvent('settings',post)">
                    <i class="icon ion-gear-a ics ics-right"></i>
                </md-button>
            </md-list-item>
        </md-list>

    </md-sidenav>
    <div layout="column" flex>
        <md-toolbar class="tool-bar-color">
            <md-button class="button-with-icon-fix button-with-icon-fix-left" ng-click="model.clickEvent('back','')"
                       aria-label="back to website list" hide-gt-sm>
                <i class="icon ion-ios-arrow-back ics"></i>
            </md-button>
            <h1>New Page</h1>
            <md-button class="ics-right button-with-icon-fix" aria-label="confirm page"
                       ng-click="model.clickEvent('check',model.data)">
                <i class = "icon ion-checkmark ics"></i>
            </md-button>
        </md-toolbar>
        <md-content id="content" flex>
            <div class="alert" ng-show="model.show">
                Enter a Name mate!
            </div>
            <div class="large-box" layout-gt-xs="column" layout-xs="column" >
                <md-input-container>
                    <label>Name</label>
                    <input ng-model="model.data.name" placeholder="Page Name" class="font-size-adjust" required>
                </md-input-container>
                <md-input-container>
                    <label>Title</label>
                    <input ng-model="model.data.title" placeholder="Page Title" class="font-size-adjust">
                </md-input-container>
            </div>
        </md-content>
    </div>
</div>
<md-toolbar   class="tool-bar-color bottom-bar " >
    <md-button class="ics-right button-with-icon-fix" aria-label="to profile page"
               ng-click="model.clickEvent('profile','')">
        <i class = "icon  ics ion-android-person"></i>
    </md-button>
</md-toolbar>