<body ng-controller="xyz"  md-theme="docs-dark" layout-gt-xs="column" layout-xs="column">
<md-toolbar class="tool-bar-color">
    <md-button class="button-with-icon-fix button-with-icon-fix-left" href="website-list.html">
        <i class="icon ion-ios-arrow-back ics"></i>
    </md-button>
    <h1>Pages</h1>
    <md-button class="ics-right button-with-icon-fix" href="page-new.html">
        <i class = "icon ion-plus ics"></i>
    </md-button>
</md-toolbar>
<md-content>
    <div class="large-box" layout-gt-xs="column" layout-xs="column" >
        <md-list>
            <md-list-item>
                <p>
                    <md-button class="transform-text" href="widget-list.html">
                        Blog Post
                    </md-button>
                </p>
                <md-button href="page-edit.html">
                    <i class="icon ion-gear-a ics ics-right"></i>
                </md-button>
            </md-list-item>
            <md-list-item>
                <p>
                    <md-button class="transform-text" href="widget-list.html">
                        Blogs
                    </md-button>
                </p>
                <md-button href="page-edit.html">
                    <i class="icon ion-gear-a ics ics-right"></i>
                </md-button>
            </md-list-item>
            <md-list-item>
                <p>
                    <md-button class="transform-text" href="widget-list.html">
                        Home
                    </md-button>
                </p>
                <md-button href="page-edit.html">
                    <i class="icon ion-gear-a ics ics-right"></i>
                </md-button>
            </md-list-item>
            <md-list-item>
                <p>
                    <md-button class="transform-text" href="widget-list.html">
                        About Us
                    </md-button>
                </p>
                <md-button href="page-edit.html">
                    <i class="icon ion-gear-a ics ics-right"></i>
                </md-button>
            </md-list-item>
            <md-list-item>
                <p>
                    <md-button class="transform-text" href="widget-list.html">
                        Contact Us
                    </md-button>
                </p>
                <md-button href="page-edit.html">
                    <i class="icon ion-gear-a ics ics-right"></i>
                </md-button>
            </md-list-item>
        </md-list>
    </div>
</md-content>
<md-toolbar   class="tool-bar-color bottom-bar " >
    <md-button href="profile.html" class="ics-right button-with-icon-fix">
        <i class = "icon ion-android-person ics"></i>
    </md-button>
</md-toolbar>