<md-toolbar class="tool-bar-color">
    <h1>Profile</h1>
    <md-button class="ics-right button-with-icon-fix" ng-click="model.ok()" aria-label="Profile button">
        <i class = "icon ics ion-checkmark"></i>
    </md-button>
</md-toolbar>
<md-content>
    <div class="large-box" layout-gt-xs="column" layout-xs="column" >
        <form name="form"  layout-gt-xs="column" layout-xs="column">
            <md-input-container layout-gt-xs="column" layout-xs="column">
                <label class="align-left">User Name</label>
                <input ng-model="model.user.username" class="font-size-adjust">
            </md-input-container>

            <md-input-container layout-gt-xs="column" layout-xs="column">
                <label class="align-left">Email</label>
                <input ng-model="model.user.email" class="font-size-adjust">
            </md-input-container>

            <md-input-container layout-gt-xs="column" layout-xs="column">
                <label class="align-left">First Name</label>
                <input ng-model="model.user.firstName" class="font-size-adjust">
            </md-input-container>
            <md-input-container layout-gt-xs="column" layout-xs="column">
                <label class="align-left">Last Name</label>
                <input ng-model="model.user.lastName" class="font-size-adjust">
            </md-input-container>
            <md-button class="md-accent md-raised"  ng-click="model.goToWebsite()"> Websites </md-button>
            <md-button class="md-warn md-raised" ng-click="model.logout()"> Logout </md-button>
        </form>
    </div>
</md-content>
<md-toolbar   class="tool-bar-color bottom-bar" >
    <md-button ng-click="model.person()" class="ics-right button-with-icon-fix" aria-label="Profile button">
        <i class = "icon ics ion-android-person"></i>
    </md-button>
</md-toolbar>

