<md-toolbar class="tool-bar-color">
    <md-button class="button-with-icon-fix button-with-icon-fix-left"  
        aria-label="back to page list" ng-click="model.clickEvent('back' ,'')">
        <i class="icon ion-ios-arrow-back ics"></i>
    </md-button>
    <h1>Widgets</h1>
    <md-button class="ics-right button-with-icon-fix" ng-click="model.clickEvent( 'add' ,'')"
            aria-label="add-new">
        <i class = "icon ion-plus ics"></i>
    </md-button>
</md-toolbar>
<md-content>
    <div class="large-box" layout-gt-xs="column" layout-xs="column">
        <div ng-switch="widget.widgetType" ng-repeat="widget in model.widgetList">
            <div class="widget-box" layout-gt-xs="column" layout-xs="column" >
                <div class="myButton">
                    <md-button class="button-with-icon-fix" ng-click="model.clickEvent('edit',widget)" aria-label="link to profile page">
                        <i class="icon ion-navicon ics"></i>
                        <i class="icon ion-gear-a ics"></i>
                    </md-button>
                </div>
                <div ng-switch="widget.size" ng-switch-when="HEADER">
                    <h1 ng-switch-when="1">{{widget.text}}</h1>
                    <h2 ng-switch-when="2">{{widget.text}}</h2>
                    <h3 ng-switch-when="3">{{widget.text}}</h3>
                    <h4 ng-switch-when="4">{{widget.text}}</h4>
                    <h5 ng-switch-when="5">{{widget.text}}</h5>
                    <h6 ng-switch-when="6">{{widget.text}}</h6>
                </div>
                <div ng-switch-when="IMAGE">
                    <img ng-src="{{model.checkSafeUrlImage(widget.url)}}" class="responsive-image" alt="xxx"/>
                </div>
                <div ng-switch-when="YOUTUBE">
                    <iframe class="responsive-image" ng-src="{{model.checkSafeUrlYoutube(widget.url)}}" frameborder="0"
                    allowfullscreen></iframe>
                </div>
                <div ng-switch-when="HTML" ng-bind-html="model.checkSafeHtml(widget.text)">
                </div>
            </div>
        </div>
    </div>
</md-content>
<md-toolbar   class="tool-bar-color bottom-bar " >
    <md-button class="button-with-icon-fix button-with-icon-fix-left"  href="profile.html" aria-label="I dont know">
        <i class="icon ics ion-ios-eye"></i>
        <i class="icon ics ion-ios-play-outline"></i>
    </md-button>
    <md-button class="ics-right button-with-icon-fix" ng-click="model.clickEvent( 'profile' ,'')" aria-label="go to profile">
        <i class = "icon ion-android-person ics "></i>
    </md-button>
</md-toolbar>