<md-toolbar class="tool-bar-color">
    <md-button class="button-with-icon-fix button-with-icon-fix-left" 
            aria-label="back to list" ng-click="model.clickEvent('back','')">
        <i class="icon ion-ios-arrow-back ics"></i>
    </md-button>
    <h1>Choose Widget</h1>
</md-toolbar>
<md-content>
    <div class="large-box" layout-gt-xs="column" layout-xs="column" >
        <md-list>
            <md-list-item>
                <p>
                    <md-button class="transform-text" ng-click="model.clickEvent('listItem','HEADER')">
                        Header
                    </md-button>
                </p>
            </md-list-item>
            <md-list-item>
                <p>
                    <md-button class="transform-text" ng-click="model.clickEvent('listItem','')">
                        Label
                    </md-button>
                </p>
            </md-list-item>
            <md-list-item>
                <p>
                    <md-button class="transform-text" ng-click="model.clickEvent('listItem','HTML')">
                        HTML
                    </md-button>
                </p>
            </md-list-item>
            <md-list-item>
                <p>
                    <md-button class="transform-text" ng-click="model.clickEvent('listItem','TEXT')">
                        Text Input
                    </md-button>
                </p>
            </md-list-item>
            <md-list-item>
                <p>
                    <md-button class="transform-text" ng-click="model.clickEvent('listItem','')">
                        Link
                    </md-button>
                </p>
            </md-list-item>
            <md-list-item>
                <p>
                    <md-button class="transform-text" ng-click="model.clickEvent('listItem','')">
                        Button
                    </md-button>
                </p>
            </md-list-item>
            <md-list-item>
                <p>
                    <md-button class="transform-text" ng-click="model.clickEvent('listItem','IMAGE')">
                        Image
                    </md-button>
                </p>
            </md-list-item>
            <md-list-item>
                <p>
                    <md-button class="transform-text" ng-click="model.clickEvent('listItem','YOUTUBE')">
                        You Tube
                    </md-button>
                </p>
            </md-list-item>
            <md-list-item>
                <p>
                    <md-button class="transform-text" ng-click="model.clickEvent('listItem','')">
                        Data Table
                    </md-button>
                </p>
            </md-list-item>
            <md-list-item>
                <p>
                    <md-button class="transform-text" ng-click="model.clickEvent('listItem','')">
                        Repeater
                    </md-button>
                </p>
            </md-list-item>
        </md-list>
    </div>
</md-content>
<md-toolbar   class="tool-bar-color bottom-bar " >
    <md-button class="ics-right button-with-icon-fix" ng-click="model.clickEvent('profile','')"
            aria-label="nav to profile">
        <i class = "icon ion-android-person ics"></i>
    </md-button>
</md-toolbar>