<md-toolbar class="tool-bar-color">
    <md-button class="button-with-icon-fix button-with-icon-fix-left" 
        aria-label="back to widget list"  ng-click="model.clickEvent('back','')">
        <i class="icon ion-ios-arrow-back ics"></i>
    </md-button>
    <h1>Widget Edit</h1>
    <md-button class="ics-right button-with-icon-fix" ng-click="model.clickEvent('check','')"
            aria-label="confirm change">
        <i class = "icon ion-checkmark ics"></i>
    </md-button>
</md-toolbar>
<md-content>
    <div class="large-box" layout-gt-xs="column" layout-xs="column" >
        <md-input-container>
            <label>Name</label>
            <input ng-model="model.widget.widgetType"  class="font-size-adjust">
        </md-input-container>
        <md-input-container>
            <label>Text</label>
            <input ng-model="x"  class="font-size-adjust">
        </md-input-container>
        <md-input-container>
            <label>Url</label>
            <input ng-model="model.widget.url"  class="font-size-adjust">
        </md-input-container>
        <md-input-container>
            <label>Width</label>
            <input ng-model="model.widget.width"   class="font-size-adjust">
        </md-input-container>
        <md-button class="md-warn md-raised" ng-hide="{{model.createNew}}"  
                ng-click="model.clickEvent('delete','')"> 
            Delete 
        </md-button>
    </div>
</md-content>
<md-toolbar   class="tool-bar-color bottom-bar " >
    <md-button class="ics-right button-with-icon-fix" ng-click="model.clickEvent('profile','')"
        aria-label="nav to profile">
        <i class = "icon ion-android-person ics"></i>
    </md-button>
</md-toolbar>