<md-toolbar class="tool-bar-color">
    <md-button class="button-with-icon-fix button-with-icon-fix-left" href="widget-list.html">
        <i class="icon ion-ios-arrow-back ics"></i>
    </md-button>
    <h1>Widget Edit</h1>
    <md-button class="ics-right button-with-icon-fix" href="widget-list.html">
        <i class = "icon ion-checkmark ics"></i>
    </md-button>
</md-toolbar>
<md-content>
    <div class="large-box" layout-gt-xs="column" layout-xs="column" >
        <md-input-container>
            <label>Name</label>
            <input ng-model="name"  class="font-size-adjust">
        </md-input-container>
        <md-input-container>
            <label>Text</label>
            <input ng-model="title"  class="font-size-adjust">
        </md-input-container>
        <md-input-container>
            <label>Size</label>
            <input ng-model="size" type="number" min="1"  class="font-size-adjust">
        </md-input-container>
        <md-button class="md-warn md-raised" href="widget-list.html"> Delete </md-button>
    </div>
</md-content>
<md-toolbar   class="tool-bar-color bottom-bar " >
    <md-button class="ics-right button-with-icon-fix" href="profile.html">
        <i class = "icon ion-android-person ics"></i>
    </md-button>
</md-toolbar>