<!DOCTYPE html>
<html lang="en" ng-app="loginApp">
<head>
    <meta name="viewport" content="width=device-width">
    <meta charset="UTF-8">
    <title>My App</title>
    <script src="./bower_components/angular/angular.js"></script>
    <script src="./bower_components/angular-aria/angular-aria.js"></script>
    <script src="./bower_components/angular-animate/angular-animate.js"></script>
    <script src="./bower_components/angular-material/angular-material.js"></script>
    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400" rel="stylesheet">
    <link rel="stylesheet" href="css/app.css">
    <script>
        angular.module("loginApp",['ngMaterial'])
            .controller("xyz",function ($scope) {
                console.log("Hello world");
            }).
            config(function($mdThemingProvider) {
                $mdThemingProvider.theme('docs-dark', 'default')
                        .primaryPalette('pink')
                        .accentPalette('green')
                        .dark();

            });

    </script>
</head>
<body ng-controller="xyz"  md-theme="docs-dark" layout-gt-xs="column" layout-xs="column">
        <md-content>
        <div  class = "center-box" layout-gt-xs="column" layout-xs="column" layout-padding>
            <h1> LOG IN</h1>
            <!--<div class="line"></div>-->
            <md-divider></md-divider>
            <form  layout-gt-xs="column" layout-xs="column">
                <div layout-gt-xs="column" layout-xs="column">
                    <md-input-container>
                        <label class="align-left">User Name</label>
                        <input ng-model="user.title">
                    </md-input-container>

                    <md-input-container>
                        <label class="align-left">Password</label>
                        <input ng-model="user.email" type="password">
                    </md-input-container>
                    <md-button class="md-accent md-raised" layout-gt-xs="column" layout-xs="column" href="profile.html">
                        Login
                    </md-button>
                    <md-button class="md-primary md-raised" layout-gt-xs="column" layout-xs="column" href="register.html">
                        Register
                    </md-button>
                </div>

            </form>
        </div>
        </md-content>


</body>
</html>