<!DOCTYPE html>
<html lang="en" ng-app="profileApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>My App</title>
    <script src="./bower_components/angular/angular.js"></script>
    <script src="./bower_components/angular-aria/angular-aria.js"></script>
    <script src="./bower_components/angular-animate/angular-animate.js"></script>
    <script src="./bower_components/angular-material/angular-material.js"></script>
    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400" rel="stylesheet">
    <link rel="stylesheet" href="./css/app.css">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <script>
        angular.module("profileApp",['ngMaterial'])
                .controller("xyz",function ($scope) {
                    console.log("Hello world");
                }).
        config(function($mdThemingProvider) {
            $mdThemingProvider.theme('docs-dark', 'default')
                    .primaryPalette('pink')
                    .accentPalette('green')
                    .dark();

        });
    </script>
</head>
<body ng-controller="xyz"  md-theme="docs-dark" layout-gt-xs="column" layout-xs="column">
    <md-toolbar class="tool-bar-color">
        <h1>Profile</h1>
        <md-button class="ics-right" href="profile.html">
            <i class = "icon ion-checkmark ics"></i>
        </md-button>
    </md-toolbar>
    <md-content>
        <div class="large-box" layout-gt-xs="column" layout-xs="column" >
            <form name="form"  layout-gt-xs="column" layout-xs="column">
                <md-input-container layout-gt-xs="column" layout-xs="column">
                    <label class="align-left">User Name</label>
                    <input ng-model="user.username">
                </md-input-container>

                <md-input-container layout-gt-xs="column" layout-xs="column">
                    <label class="align-left">Email</label>
                    <input ng-model="user.email">
                </md-input-container>

                <md-input-container layout-gt-xs="column" layout-xs="column">
                    <label class="align-left">First Name</label>
                    <input ng-model="user.first_name">
                </md-input-container>
                <md-input-container layout-gt-xs="column" layout-xs="column">
                    <label class="align-left">Last Name</label>
                    <input ng-model="user.last_name">
                </md-input-container>
                <md-button class="md-accent md-raised"  href="website-list.html"> Websites </md-button>
                <md-button class="md-warn md-raised" href="login.html"> Logout </md-button>
            </form>
        </div>
    </md-content>
    <md-toolbar   class="tool-bar-color bottom-bar " >
        <a href="profile.html">
            <i class = "icon ion-android-person ics ics-right"></i>
        </a>
    </md-toolbar>
</body>
</html>